/*=======fonts======*/
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@300;500&family=Poppins:wght@500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
/*=======fonts======*/
--body-font: 'Poppins', sans-serif;
/* Font size variables */
--small: 10px;
--medium: 14px;
--large: 20px;

/*=======colours======*/
--pink-color: #EBAAB0;
--beige-color: #F3E1C0; 
--blue-color: #275070; 
--burgundy-color: #955670; 
--grey-color: rgb(160, 157, 157);
}

html {
  scroll-behavior: smooth;
  background-color: var(--beige-color);
}

a {
 text-decoration: none;
}

/*=======breakpoints======*/
/* for mobile devices */
@media screen and (max-width: 350px) {
  .container {
    margin-right: 25px;
  }
}


/* for tablets */
  @media screen and (max-width: 576px){
    .section {
        padding: 2rem 0 4rem;
    }
  }


/* for large devices */
@media screen and (max-width: 768px) {
  .container {
    margin-right: 25px;
  }
}


/* for laptops for desktops,*/
@media screen and (max-width: 992px) {
  .container {
    margin-right: 25px;
  }
}

/* for desktops, large screens. */
@media screen and (max-width: 1200px) {
  .container {
    margin-right: 45px;
  }
}