/*=======fonts======*/
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@300;500&family=Poppins:wght@500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
/*=======fonts======*/
--body-font: 'Poppins', sans-serif;

/*=======colours======*/
--title-color: black;
--first-color: rgb(241, 241, 186); 
--second-color: rgb(136, 136, 49); 
--third-color: rgb(70, 70, 7); 
}

html {
  scroll-behavior: smooth;
}


/*=======breakpoints======*/
/* for mobile devices */
@media screen and (max-width: 350px) {
  .container {
    margin-right: 25px;
  }
}


/* for tablets */
  @media screen and (max-width: 576px){
    .section {
        padding: 2rem 0 4rem;
    }
  }


/* for large devices */
@media screen and (max-width: 768px) {
  .container {
    margin-right: 25px;
  }
}


/* for laptops for desktops,*/
@media screen and (max-width: 992px) {
  .container {
    margin-right: 25px;
  }
}

/* for desktops, large screens. */
@media screen and (max-width: 1200px) {
  .container {
    margin-right: 45px;
  }
}