/*=======fonts======*/
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Montserrat:wght@300;500&family=Poppins:wght@500;600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
/*=======fonts======*/
--body-font: 'Poppins', sans-serif;

/*=======colours======*/
--title-color: black;
}

html {
  scroll-behavior: smooth;
}


.title {
  color: red;
}
