.about__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
}

.about__img {
    width: 350px;
    justify-self: center;
    border: 3px solid rgb(240, 21, 21);
    box-shadow: inset 0 0 0 30px #f900004d;
    animation: about__animate 8s ease-in-out infinite 5s;
}

@keyframes about__animate {
    0% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
    50% {
        border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
    }
    100% {
        border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
    }
}

.about__info {
    display: grid;
    grid-template-columns: repeat(3, 140px);
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.about__box {
    background-color: rgb(236, 236, 236);
    border: 1px solid rgba($color: #424242, $alpha: 1.0);
    border-radius: 0.75rem;
    text-align: center;
    padding: 1rem 1.25rem;
}

.about__icon {
    font-size: 1.5rem;
}

.about__title {
    font-size: 20px;
    
}

/*=======breakpoints======*/
/* for mobile devices */
@media screen and (max-width: 350px) {
    .about__info {
        grid-template-columns: repeat(2, 1fr)
    }
  }
  
  /* for tablets */
  @media screen and (max-width: 576px) {
    .about__info {
        grid-template-columns: repeat(3, 1fr);
    }
    .about__description {
        padding: 0; 
    }
  }


  /* for laptops for desktops,*/
  @media screen and (max-width: 992px) {
    .about__container {
        grid-template-columns: 1fr;
        row-gap: 2.5rem;
    }

    .about__img {
        width: 220px;
    }

    .about__box {
    padding: 0.75rem 0.5rem;
    }

    .about__data {
        text-align: center ;
    }

    .about__info {
        justify-content: center;
    }

    .about__description {
        padding: 0 5rem;
        margin-bottom: 2rem;
    }
  }
  
 