.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--first-color);
}

.nav {
   display: flex;
   justify-content: space-between;
   align-items: center;
}



.nav__logo,
.nav__toggle {
    color: var(--second-color);
}

.nav_list {
    display: flex;
    column-gap: 2rem;
}

.nav__item {
    list-style-type: none;
}

.nav__link {
    color: var(--title-color);
    text-decoration: none;
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1rem;
    transition: .3s;
}

.nav__icon,
.nav__toggle,
.nav__close {
    display: none;

}


.active__link,
.nav__link:hover {
    color: var(--second-color);
}

/*=======breakpoints======*/

/* for mobile devices */
@media screen and (max-width: 350px) {
 .nav__menu {
    padding: 2rem 0.25 4rem;
 }

 .nav__list {
    column-gap: 0;
 }
}

/* for tablets */
@media screen and (max-width: 768px) {
    .header {
        top: initial;
        top: 0;
    }

    .nav {
        height: 50px;
    }

    .nav__menu {
        width: 100%;
        position: fixed;
        top: -100%;
        left: 0;
        padding: 2rem 1.5rem 4rem;
        box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.15);
        border-radius: 0 0 1.5rem 1.5rem;
        transition: .3s;
    }

    .nav__link {
        font-size: .6rem; }

    /* show menu*/
    .show-menu {
        top: 0;
    }

    .nav__icon {
        font-size: 1.2rem;
    }

    .nav__list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
    }

    .nav__close {
        position: absolute;
        right: 1.5rem;
        top: .5rem;
        font-size: 1.5rem;
        color: var(--second-color);
        cursor: pointer;
    }

    .nav__close:hover {
        color: var(--first-color);
    }

    .nav__toggle {
        font-size: 1.3rem;
        cursor: pointer;
    }

    .nav__icon,
    .nav__toggle,
    .nav__close {
    display: block;
    }
  }

 
  
 